{"filter":false,"title":"requirements.txt","tooltip":"/requirements.txt","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":452,"scrollleft":0,"selection":{"start":{"row":35,"column":13},"end":{"row":35,"column":13},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1573566725282,"hash":"8b3ebce7d1c5f6a1aeb5c32e8234c368bf268b27"}